* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2em;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(45deg, salmon, 70%, rgb(255, 89, 0));
    margin-bottom: 3em;
    color: antiquewhite
}

button {
    background-color: transparent;
    border-color: salmon;
    border-radius: 10px;
    padding: 1em;
}

.rock {
    fill: gray
}

.paper {
    fill: burlywood
}

.scissors {
    fill: rgb(19, 137, 15)
}

.button-con {
    display: flex;
    justify-content: space-evenly;
}

.reset {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 2em;
}

.reset button {
    background-color: brown;
    color: antiquewhite;
}