* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2em;
    text-align: center;
    font-size: 2rem;
}

button {
    background-color: transparent;
    border-color: salmon;
    border-radius: 10px;
    padding: 1em;
}

.rock {
    fill: gray
}

.paper {
    fill: burlywood
}

.scissors {
    fill: rgb(19, 137, 15)
}

.button-con {
    display: flex;
    justify-content: space-evenly;
}